@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    background-image: url("../assets/img/background-index.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#logo {
    width: 150px; /* Reduced width */
    height: 60px; /* Reduced height */
    flex-shrink: 0;
}

#name {
    color: #FFF;
    font-family: Raleway;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 10%;
}

.line1,
.line2 {
    display: block;
    line-height: 0;
}

.button {
    background-color: #DA6F64;
    color: white;
    width: 280px; /* Reduced width */
    height: 60px; /* Reduced height */
    border: none;
    border-radius: 30px; /* Adjusted radius for smaller size */
    font-size: 24px; /* Adjusted font size */
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 10%;
}

.button .arrow {
    margin-left: 10px;
    font-size: 24px; /* Adjusted font size */
}

@media (max-width: 480px) {
    #logo {
        width: 100px;
        height: 40px;
    }

    #name {
        font-size: 40px;
    }

    .line1, .line2 {
        font-size: 18px;
    }

    .button {
        width: 200px;
        height: 48px;
        font-size: 18px;
    }

    .button .arrow {
        font-size: 18px;
    }
}

img {
    align-items: center;
}
